<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.itheima.domain.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.itheima.domain.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.itheima.domain.ShowCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.itheima.domain.ClearCartServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/servlet/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/servlet/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/servlet/ClearCartServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>servlet/IndexServlet</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>1</session-timeout><!-- 单位是分钟，超时时间 -->
  </session-config>
</web-app>
